@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
}
#title{
  color: #FEF985;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  margin: 50px 0 50px 25px;
  font-weight: bold;

}

mat-divider{
  display: flex;
  background-color: #FEF985;
  width: 80%;
  margin: auto;
  margin: 15px auto;
}

#cards{
  margin: auto;
  width: 90%;
}

#new-group{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FEF985;
  border: none;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;

  mat-icon{
    font-size: 40px;
  }
}
