#title{
  color: #FEF985;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  margin: 50px 0 50px 25px;
  font-weight: bold;

}


.subtitle{
  color: #FEF985;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;

}

.card{
  background-color: #262626;
  color: white;
  border-radius: 10px 10px 10px 10px;

  #card-name{
    font-size: 25px;
  }

  mat-icon{
    color: #FEF985;;
  }
}

form{
  input{
    display: grid;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    border: none;
    outline: none;
    width: 90%;
    margin: auto;
    padding: 5px;
    letter-spacing: 1px;
  }

  .form-row{
    display: flex;
    margin-bottom: 15px;
  }

  .form-column{
    justify-content: center;
    margin: auto;
  }
}

#new-group{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FEF985;
  border: none;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;

  mat-icon{
    font-size: 40px;
  }
}

#submit{
  position: fixed;
  position: fixed; left: 50%; transform: translateX(-50%); bottom: 20px;
  background-color: #FEF985;
  border: none;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  width: auto;
  height: 50px;
  color: black;

  mat-icon{
    font-size: 40px;
  }
}

