#title{
  color: #FEF985;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  margin: 50px 0 50px 25px;
  font-weight: bold;

}


.subtitle{
  color: #FEF985;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 15px 0;

}

.card{
  background-color: #262626;
  color: white;
  border-radius: 10px 10px 10px 10px;

  #card-name{
    font-size: 25px;
  }

  mat-icon{
    cursor: pointer;
  }
}

form{
  input{
    display: grid;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    border: none;
    outline: none;
    width: 90%;
    margin: auto;
    padding: 5px;
    letter-spacing: 1px;
  }

  .form-row{
    display: flex;
    margin-bottom: 15px;
  }

  .form-column{
    justify-content: center;
    margin: auto;
  }
}

#add-person{
  background-color: #FEF985;
  border: none;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;
  min-width: 50px;

  mat-icon{
    font-size: 40px;
  }
}

.col-1{
  display: flex;
  justify-content: center;
}





.container{
  width: 100%;
  z-index: 1;
}

#actions{
  display: flex;
  justify-content: center;
  position: fixed; left: 50%; transform: translateX(-50%); bottom: 0px;
  max-width: 700px;
  width: 100%;
  z-index: 1000;
  background-color: #171717;
  padding: 50px 0 20px 0;
  min-width: 342px;

  .row{
    width: 100%;
  }

  .col-10{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .col-2{
    display: flex;
    justify-content: end;
  }

  #generar-cuentas, #reset{
    border: none;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    height: 50px;
    color: black;
    width: 100%;

    mat-icon{
      font-size: 40px;
    }
  }



  .submit_enabled{
    background-color: #FEF985;
  }
}
